<div class="container">
  <h2>Secret Information</h2>

  <div class="info-row">
    <span class="label">Secret:</span>
    <span class="value">{{secret}}</span>
  </div>
  <div class="info-row">
    <span class="label">Expiry Date:</span>
    <span class="value">{{prettyExpiry}}</span>
  </div>
  {{!-- <div class="info-row">
    <span class="label">Clicks left before Expiry:</span>
    <span class="value">{{clicksLeft}}</span>
  </div> --}}
  {{!-- <div class="info-row">
    <span class="sublabel">Total Allowed Clicks:</span>
    <span class="subvalue">{{totalClicks}}</span>
  </div> --}}
  <div class="info-row">
    <span class="label">Current Clicks:</span>
    <span class="value">{{currentClicks}} / {{totalClicks}}</span>
  </div>
  {{!-- <div class="info-row">
    <span class="sublabel">Current Clicks:</span>
    <span class="subvalue">{{currentClicks}}</span>
  </div> --}}
  {{!-- <div class="info-row">
    <span class="sublabel">Remaining Time (seconds):</span>
    <span class="subvalue">{{remainingTTLSeconds}}</span>
  </div> --}}
  <div class="info-row">
    <span class="sublabel">Hours before Expiry:</span>
    <span class="subvalue">{{remainingHours}}</span>
  </div>
  <div class="info-row">
    <span class="sublabel">Minutes before Expiry:</span>
    <span class="subvalue">{{remainingMinutes}}</span>
  </div>
  <form id="delete-secret-form">
    <button type="submit">Delete Secret Now</button>
  </form>

  <div id="delete-response-message">
    <span id="delete-response-text"></span>
  </div>

  <p class="back-link"><a href="/ui">← Back to Home</a></p>

</div>