<div class="container">
    <h2>Secret Information</h2>
    <p><span class="label">Secret:</span> <span class="value">{{secret}}</span></p>
    <p><span class="label">Clicks left before Expiry:</span> <span class="value">{{clicksLeft}}</span></p>
    <p><span class="sublabel">Total Allowed Clicks:</span> <span class="subvalue">{{totalClicks}}</span></p>
    <p><span class="sublabel">Current Clicks:</span> <span class="subvalue">{{currentClicks}}</span></p>
    <p><span class="label">Expiry Date:</span> <span class="value">{{prettyExpiry}}</span></p>
    <p><span class="sublabel">Remaining Time (seconds):</span> <span class="subvalue">{{remainingTTLSeconds}}</span></p>
    <p><span class="sublabel">Remaining Time (minutes):</span> <span class="subvalue">{{remainingMinutes}}</span></p>
    <p><span class="sublabel">Remaining Time (hours):</span> <span class="subvalue">{{remainingHours}}</span></p>
</div>
